<p>
  Found
  <%= @results.length %>
  <%= "member".pluralize(@results.length) %>
  matching
  <%= @search_params[:email] ?
      "email: #{@search_params[:email]}" :
      "last name: #{@search_params[:last_name]}" %>
</p>

<% @results.each do |result| %>
  <%= erb :_result, locals: {result: result} %>
<% end %>

<hr />

<div class="text-center">
  <p>Couldn't find who you're looking for?</p>

  <a href="/register" class='btn btn-lg btn-warning'>Register new member</a>
</div>
